body{
    background-color: cadetblue;
    font: normal 15pt Arial;
}

header{
    color: azure;
    text-align: center;
}

section{
    background-color: azure;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 6px rgba(0, 1, 37, 0.301);

}

footer{
    text-align: center;
    color: azure;
    font-style: italic;

}

a{
    color: black;
}